.error {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  color: var(--color-error);
  font-size: var(--font-size-xs);
  animation: appear var(--duration-base) var(--ease-out);
}

.icon {
  flex: none;
  margin-top: 0.2em;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
}
